# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# resources
/res
/utils

*.yml
!docker-compose.yml
*.log

__pycache__

# examples
/pipeline-monitor/distributed_scheduler_EXAMPLE.py
/pipeline-monitor/kafka_monitor.py