# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# resources
/utils
/previous
/src/engine/res

*.yml
!docker-compose.yml
*.log
*.pyc

__pycache__

# examples
/pipeline-monitor/distributed_scheduler_EXAMPLE.py
/pipeline-monitor/kafka_monitor.py